
#about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

#about-me {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 0%;
    left: 0%;
    cursor: pointer;
}

#about-me::before {
    content: ' ';
    height: 2px;
    width: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: -25%;
    left: 50%;
    
    transition: 0.3s linear ;
    transform: translate(-50%, -50%);
}

#about-me:hover::before,
#skills-p:hover::before
{
    width: 70%;
}
#about-me-desc {
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

#contact-btn {
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin: auto 0;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
#skill-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
}
#skill-content-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    
}
#skills-elem {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-evenly;

}
#version-skills-elem{
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills-p {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    
    cursor: pointer;
}

#skills-p::before {
    content: ' ';
    height: 2px;
    width: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s linear ;
}

#skills-text {
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width:320px) and (max-width:480px) {
    #skills-elem {
        display: grid;
        grid-template-columns: 160px 160px;
        justify-content: space-evenly;
        width: 80%;
    }
    
#skill-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}
    #skill-content-div{
        width: 90%;
    }
}

@media screen and (min-width:481px) and (max-width:640px) {
    #skills-elem {
        display: grid;
        grid-template-columns:160px 160px;
        justify-content: space-evenly;
        width: 80%;
    }
    
#skill-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}
    
    #skill-content-div{
        width: 90%;
    }
}