body {
    background-color: #4F1787;
}

#container {
    width: 100%;
    min-height: 70dvh;
    max-height: 80dvh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mobile-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#social-links-mobile{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
#gmail-mobile,
#github-logo-mobile,
#linkedin-logo-mobile {
    margin: 10px 0;
    width: 30px;
    height: 30px;
}


#child-components-about{
    margin-top: 30px;

}
#My-name {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

#name {
    color: rgba(255, 255, 255, 1);
    
    font-size: 40px;
    margin-top: 7px;
    margin-bottom: 10px;
}

#desc {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

#desc1 {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    }
#container button{
    color: white;
    margin-top: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #4F1787;
    border: 1px solid white;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width:320px) and (max-width:640px) {
    #container {
        width: 100%;
        min-height: 30dvh;
        max-height: 60dvh;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}